@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #8B5A2B;
  --swiper-navigation-size: 30px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/background.jpg');
  background-size: cover;
  background-position: center;
}

.service-card:hover img, 
.room-card:hover img {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.service-card img, 
.room-card img {
  transition: transform 0.5s ease;
}

.swiper-button-next, 
.swiper-button-prev {
  color: #bc9449 !important;
  background-color: rgba(255, 255, 255, 0.7);
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-pagination-bullet-active {
  background-color: #8B5A2B !important;
}